<ion-content *ngIf="(viewModel$ | async) as workbook" [formGroup]="form">
  <ion-card>
    <!--    <ion-card-header color="light">-->
    <!--      <ion-card-title>-->
    <!--        New Collection-->
    <!--      </ion-card-title>-->
    <!--    </ion-card-header>-->
    <ion-card-content class="ion-no-padding">
      <ion-accordion-group>

        <ion-accordion value="collection">
          <ion-item slot="header" color="light">
            <ion-label>Collection properties</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-item>
              <ion-input formControlName="name" placeholder="Collection name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="requiredSuccessfulNumber"
                         placeholder="Required number to pass a collection"></ion-input>
            </ion-item>
          </div>
        </ion-accordion>

        <ion-accordion value="gameSettings">
          <ion-item slot="header" color="light">
            <ion-label>Collection game settings</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-item>
              <ion-input formControlName="numberOfTextOption" placeholder="Number of selection options"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-toggle formControlName="onlyOriginalText">Original texts</ion-toggle>
            </ion-item>
            <ion-item lines="none">
              <ion-toggle formControlName="onlyTranslatedText">Translated texts</ion-toggle>
            </ion-item>
          </div>
        </ion-accordion>

        <ion-accordion value="texts">
          <ion-item slot="header" color="light">
            <ion-label>Collection texts</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content" formArrayName="dictionaries">
            <ion-text>Select the dictionary(s) whose texts you want to
              add
            </ion-text>
            <ion-item [formGroupName]="i"
                      lines="none" *ngFor="let dictionary of form.controls.dictionaries.controls; index as i">
              <ion-checkbox formControlName="willBeAdded">{{dictionary.controls?.['name']?.value}}</ion-checkbox>
            </ion-item>
          </div>
        </ion-accordion>

      </ion-accordion-group>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" (click)="addCollection()">
          Save
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button fill="outline" expand="block" (click)="closeModal()">
          Back
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="log()">
    LOG
  </ion-button>
</ion-content>
