<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{existingCollection ? "Edit collection" : "Create collection"}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createCollection()">{{existingCollection ? "Save" : "Create"}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(viewModel$ | async) as workbook" [formGroup]="form">

  <ion-card class="box-shadow card-margin">
    <ion-card-content class="ion-no-padding">
      <ion-accordion-group value="collection">
        <ion-accordion value="collection">

          <ion-item slot="header" color="light">
            <ion-label><strong>Collection properties</strong></ion-label>
          </ion-item>
          <div class="ion-no-padding" slot="content">
            <ion-item>
              <ion-input formControlName="name">
                Collection name:
              </ion-input>
            </ion-item>
            <ion-item class="ion-margin-bottom">
              <ion-input type="number" formControlName="requiredSuccessfulNumber">
                Required number to pass a collection:
              </ion-input>
            </ion-item>
          </div>

        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>

  <ion-card class="box-shadow card-margin">
    <ion-card-content class="ion-no-padding">
      <ion-accordion-group>

        <ion-accordion value="gameSettings">
          <ion-item slot="header" color="light">
            <ion-label><strong>Collection game settings</strong></ion-label>
          </ion-item>
          <div class="ion-no-padding" slot="content">
            <ion-item>
              <ion-label><strong>Game modes:</strong></ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-toggle formControlName="guessingGameMode">Guessing game</ion-toggle>
            </ion-item>

            <div class="ion-padding-start" *ngIf="form.controls.guessingGameMode.getRawValue()">
              <ion-item>
                <ion-input type="number" formControlName="guessingGameModeNumberOfAnswerOption">
                  Number of answers:
                </ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-text>The target text can be:</ion-text>
              </ion-item>
              <ion-item lines="none">
                <ion-toggle formControlName="guessingGameModeIsTargetTextOriginal">Original text</ion-toggle>
              </ion-item>
              <ion-item lines="none">
                <ion-toggle formControlName="guessingGameModeIsTargetTextTranslated">Translated text</ion-toggle>
              </ion-item>
            </div>
          </div>
        </ion-accordion>

      </ion-accordion-group>
    </ion-card-content>
  </ion-card>

  <ion-card class="box-shadow card-margin">
    <ion-card-content class="ion-no-padding">
      <ion-accordion-group>

        <ion-accordion value="texts">
          <ion-item slot="header" color="light">
            <ion-label><strong>Collection texts</strong></ion-label>
          </ion-item>
          <div class="ion-no-padding" slot="content" formArrayName="dictionaries">
            <ion-item lines="none">
              <ion-text class="ion-padding-vertical">Select the dictionary(s) whose texts you want to
                add.
              </ion-text>
            </ion-item>
            <ion-item [formGroupName]="i"
                      lines="none" *ngFor="let dictionary of form.controls.dictionaries.controls; index as i">
              <ion-checkbox formControlName="willBeAdded">{{dictionary.controls?.['name']?.value}}</ion-checkbox>
            </ion-item>
          </div>
        </ion-accordion>

      </ion-accordion-group>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="log()">
    LOG
  </ion-button>
</ion-content>
