<ng-container [formGroup]="form" *ngIf="(workbook$ | async) as workbook">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancel()">Cancel</ion-button>
      </ion-buttons>
      <ion-title>{{form.getRawValue().name}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="edit()" [strong]="true">{{isComponentReadonly ? "Edit" : "Save"}}</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-segment value="texts" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="texts">
        <ion-label>Words</ion-label>
      </ion-segment-button>
      <ion-segment-button value="properties">
        <ion-label>Properties</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div class="ion-margin-top" *ngIf="selectedSegment === 'texts'">
      <div class="d-flex flex-row">
        <ion-searchbar placeholder="Search texts..." class="ion-no-padding"
                       [formControl]="typeaheadControl"></ion-searchbar>
        <ion-buttons>
          <ion-button fill="clear" size="small" color="primary" class="ion-no-margin" (click)="sortTextSheet()">
            <ion-icon slot="icon-only" name="swap-vertical-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>

      <ion-list>
        <ng-container>
          <ion-item class="ion-no-padding"
                    *ngFor="let text of (textsForm | async); index as i">
            <ng-container [formGroup]="text">
              <ion-textarea formControlName="translatedText" [autoGrow]="true"
                            class="ion-margin ion-text-wrap ion-no-padding"
                            [readonly]="isComponentReadonly"
                            [value]="text.controls?.['translatedText']?.value"/>
              <ion-textarea formControlName="originalText" [autoGrow]="true"
                            class="ion-margin ion-text-wrap ion-no-padding"
                            [readonly]="isComponentReadonly"
                            [value]="text.controls?.['originalText']?.value"/>
              <ion-button *ngIf="!isComponentReadonly" fill="clear" size="small" color="danger" class="ion-no-margin"
                          (click)="confirmTextDeleteSheet(i)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </ng-container>

          </ion-item>
        </ng-container>

      </ion-list>
    </div>

    <div class="ion-margin-top" *ngIf="selectedSegment === 'properties'">
      <ion-list>
        <ion-item>
          <ion-input label="Name:" formControlName="name" [readonly]="isComponentReadonly"></ion-input>
        </ion-item>

        <ion-item>
          <ion-select label="Language:" formControlName="language" interface="action-sheet" [compareWith]="compareIds">
            <ion-select-option
              *ngFor="let language of (workbook.languages | sortLanguages)"
              [value]="language">{{language.shortName}} - {{language.displayName}}</ion-select-option>
          </ion-select>
        </ion-item>

        <!--    todo: popover lehetne mi az a text limit-->
        <ion-item>
          <ion-input label="Text limit:" formControlName="textLimit" [readonly]="isComponentReadonly"></ion-input>
        </ion-item>

        <ion-item>
          <ion-textarea label="Description:" formControlName="description" [autoGrow]="true"
                        [readonly]="isComponentReadonly"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-checkbox labelPlacement="start" formControlName="default"
                        (ionChange)="changeCheckbox($event)">
            Default:
          </ion-checkbox>
        </ion-item>
        <ion-button fill="solid" class="ion-margin-top" expand="block" color="danger"
                    (click)="confirmDictionaryDelete()">Delete
        </ion-button>

      </ion-list>
    </div>
  </ion-content>
</ng-container>
