<ion-header>
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="(viewModel$ | async) as workbook">
  <ion-list>
    <ion-item>
      <ion-select class="ion-margin-end"
                  [value]="workbook.defaultLanguage"
                  label="Default label" placeholder="Language"
                  [formControl]="currentLanguageControl">
        <ion-select-option
          *ngFor="let language of workbook.languages"
          [value]="language">{{language.displayName}}</ion-select-option>
      </ion-select>
      <ion-button (click)="addLanguageModal(workbook)">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="removeLanguage()">
        <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-input [formControl]="typeaheadControl" label="Keresés">

      </ion-input>
    </ion-item>

    <ion-button (click)="addDictionaryModal()">
      Add dictionary
    </ion-button>

    <ion-button (click)="consoleLog()">
      Console log
    </ion-button>

    <ion-card
      *ngFor="let dictionary of filteredDictionaries$  | async">
      <ion-card-header>
        <ion-card-title>{{dictionary.name}}</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>

      <ion-button (click)="deleteDictionary(dictionary.id)" fill="clear">Törlés</ion-button>
    </ion-card>
  </ion-list>
</ion-content>
