<ion-content *ngIf="(viewModel$ | async) as workbook">
    <ion-list class="ion-margin-horizontal">
        <div class="d-flex gap-3">
            <ion-item lines="none" class="search-item" color="medium">
                <ion-input [formControl]="typeaheadControl" placeholder="Type dictionary name...">
                </ion-input>
            </ion-item>

            <ion-item lines="none" color="medium" class="proba ion-justify-content-center">
                <ion-select [formControl]="currentLanguageControl">
                    <ion-select-option
                            *ngFor="let language of (workbook.languages | sortLanguages)"
                            [value]="language">{{language.shortName}} - {{language.displayName}}</ion-select-option>
                </ion-select>
            </ion-item>
        </div>

        <ion-button (click)="addDictionaryModal()">
            Add dictionary
        </ion-button>

        <ion-button (click)="consoleLog()">
            Console log
        </ion-button>

        <ion-card
                *ngFor="let dictionary of filteredDictionaries$  | async">
            <ion-card-header>
                <ion-card-title>{{dictionary.name}}</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>

            <ion-button (click)="deleteDictionary(dictionary.id)" fill="clear">Törlés</ion-button>
        </ion-card>
    </ion-list>


    <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="ion-margin-end ion-margin-bottom">
        <ion-fab-button (click)="addDictionaryModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
