.toolbar-content {
  display: flex;
  align-items: center;
}

$height: 36px;

.search-bar {
  padding: 0;
  min-width: 70%;

  ::ng-deep .searchbar-input-container.sc-ion-searchbar-ios {
    height: $height;
  }

  ::ng-deep .searchbar-input-container.sc-ion-searchbar-md {
    height: $height;
  }

}

.select {
  padding-left: 5px;
  margin-left: 10px;
  max-width: 30%;
  border-radius: 10px;
  background-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.07);

  min-height: $height !important;
}
