.search-item {
  max-width: 70%;
  min-width: 70%;
}

.search-bar {
  opacity: 0.5;
}

ion-toolbar {
  --min-height: 0rem !important;
}

ion-item::part(native) {
  background: #7a7a7a;
  text-align: left;

  border-color: #fff;
  border-width: 1px;

  border-radius: 10px;

  --inner-padding-end: 0px;
}
