<ion-toolbar *ngIf="(viewModel$ | async) as workbook">
  <div class="toolbar-content ion-margin-horizontal">
    <ion-searchbar [formControl]="typeaheadControl" class="search-bar"
                   placeholder="Type dictionary name..."></ion-searchbar>
    <ion-select justify="end" class="select" interface="action-sheet"
                [formControl]="currentLanguageControl">
      <ion-select-option
        *ngFor="let language of (workbook.languages | sortLanguages)"
        [value]="language">{{language.shortName}} - {{language.displayName}}</ion-select-option>
    </ion-select>
  </div>
</ion-toolbar>

<!--<ion-toolbar *ngIf="(viewModel$ | async) as workbook" class="ion-padding-horizontal">-->
<!--  <ion-searchbar slot="start" class="search-bar" [formControl]="typeaheadControl"-->
<!--                 placeholder="Type dictionary name..."></ion-searchbar>-->

<!--  <ion-select slot="end" class="select" [formControl]="currentLanguageControl">-->
<!--    <ion-select-option-->
<!--      *ngFor="let language of (workbook.languages | sortLanguages)"-->
<!--      [value]="language">{{language.shortName}} - {{language.displayName}}</ion-select-option>-->
<!--  </ion-select>-->
<!--</ion-toolbar>-->


<ion-content *ngIf="(viewModel$ | async) as workbook">
  <ion-card class="box-shadow ion-margin-horizontal"
            *ngFor="let dictionary of filteredDictionaries$  | async" (click)="openDictionaryModal(dictionary)">
    <ion-card-header>
      <ion-card-title>{{dictionary.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{dictionary.description}}
    </ion-card-content>

  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="ion-margin-end ion-margin-bottom">
    <ion-fab-button (click)="createNewDictionaryModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
