<ion-toolbar *ngIf="(viewModel$ | async) as workbook">
  <div class="toolbar-content ion-margin-horizontal">
    <ion-searchbar class="search-bar" [formControl]="typeaheadControl"
                   placeholder="Type collection name..."></ion-searchbar>
  </div>
</ion-toolbar>

<ion-content *ngIf="(viewModel$ | async) as workbook">
  <ion-card class="box-shadow ion-margin-horizontal"
            *ngFor="let collection of filteredCollections$ | async">
    <ion-card-header>
      <ion-card-title>{{collection.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      To pass the collection number: <strong>{{collection.result.requiredSuccessfulNumber}}</strong><br>
      Successful counter: <strong>{{collection.result.successfulCounter}}</strong><br>
      Fail counter: <strong>{{collection.result.failCounter}}</strong><br>
    </ion-card-content>

    <ion-button fill="clear" (click)="playGame(collection)">Play</ion-button>
    <ion-button fill="clear" (click)="modifyCollectionModal(collection)">Settings</ion-button>
  </ion-card>

  <ion-button (click)="log(workbook)">
    LOG
  </ion-button>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="ion-margin-end ion-margin-bottom">
    <ion-fab-button (click)="createNewCollectionModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
